# ignore ALL .log files
*.log

# ignore build
build/*

# ignore vscode
.vscode/*

# ignore compiled shaders
*.spv
shader/glslc.sh

# Ignore raw text
*.txt
# Ignore LibreOffice Draw files
*.odg
# Ignore LibreOffice Draw lock files
*.odg#
# Ignore doxygen files
doxygen
Doxyfile