[submodule "src/GLGE/GLGE3rdParty/imgui"]
	path = src/GLGE/GLGE3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "src/GLGE/GLGE3rdParty/assimp"]
	path = src/GLGE/GLGE3rdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/GLGE/GLGE3rdParty/pugixml"]
	path = src/GLGE/GLGE3rdParty/pugixml
	url = https://github.com/zeux/pugixml.git
