# ignore ALL .log files
*.log

# ignore build
build/*

# ignore vscode
.vscode/settings.json

# ignore compiled shaders
*.spv
shader/glslc.sh

# Ignore LibreOffice Draw files
*.odg
# Ignore LibreOffice Draw lock files
*.odg#
# Ignore doxygen files
doxygen
Doxyfile

# Ignore the file used to store ImGui windows
imgui.ini

# Ignore the build directory for pugixml
src/GLGE/GLGE3rdParty/pugixml/pugixml_build/*